<html>
    <head>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    </head>
    <body>
        <h1>DATABASE GOES HERE</h1>
        {% if message %}
        <p>{{message}}</p>
        {% endif %}
        <h3>Create bot:</h3>
        <form method="post">
            <label>New bot name: </label>
            <input type="text" name="bot_name" required>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>